.header {
    background-color: var(--white);
}

.header-logo-a {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    background-color: var(--white);
    text-transform: uppercase;
    line-height: 1.33;
    letter-spacing: 0.03em;
}

.header-logo-word {
    color: var(--grey);
}

.header-nav-ul .nav-ref {
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.header-address {
    font-style: normal;
}

.header-address .nav-ref {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    letter-spacing: 0.02em;
}

.nav-ref:focus,
.nav-ref:hover {
    color: var(--ocean);
}