.main-portfolio-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.portfolio-card .main-h {
    line-height: 1.2;
    color: var(--navy-blue);
}

.portfolio-p {
    line-height: 1.5;
}