.main-team-section {
    background-color: var(--cloud);
}

.main-team-section li {
    background-color: var(--white);
}

.main-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.main-h {
    text-align: center;
    line-height: 1.2;
    text-align: center;
}

.main-p-team {
    line-height: 1.5;
    color: var(--slate);
}